@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="clubmenu" align="center">
    <h3>
        @Html.ActionLink("Estatutos", "Estatutos") | @Html.ActionLink("Jugadores", "Jugadores")
        | @Html.ActionLink("Organigrama", "Organigrama") | @Html.ActionLink("Plantillas", "Plantillas")
    </h3>
</div>
<div align="center">
    <h2>
        FICHA TÉCNICA DEL CLUB</h2>
    <br/>
    <p style="text-align:justify;">
        <b>Nombre del Club:</b> Atlético River Sala Zaragoza C.D.E.<br />
        <br />
        <b>Fecha de Fundación:</b> 30 de Marzo del 2004<br />
        <br />
        <b>Socios Fundadores:</b> Esther Lázaro López y Ernesto Naval Rodríguez<br />
        <br />
        <b>Denominación del Club hasta su Fundación como tal:</b><br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 2001 a 2003: Casa de Juventud San Pablo – CADENETA<br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 2003 a 2004: Asociación Deportiva Jenn – RIVER SALA<br />
    </p>
</div>
