@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="clubmenu" align="center">
    <h3>
        @Html.ActionLink("Estatutos", "Estatutos") | @Html.ActionLink("Ficha Técnica", "Index")
        | @Html.ActionLink("Organigrama", "Organigrama") | @Html.ActionLink("Plantillas", "Plantillas")
    </h3>
</div>
<div align="center">
    <h2>
        ENLACES DE INTERES PARA EL CLUB</h2>
</div>
<div>
    <br />
    <p style="text-align: justify;">
        <h3>
            <p align="center">
                12 Temporadas</p>
        </h3>
        Euge – 2000/2012 – Ala Pívot<br />
        <hr />
        <h3>
            <p align="center">
                12 Temporadas</p>
        </h3>
        Edu – 2000/2011 – Ala Cierre<br />
        <hr />
        <h3>
            <p align="center">
                10 Temporadas</p>
        </h3>
        José – 2000/2010 – Cierre, Ala y Pívot.<br />
        Dani – 2002/2012 – Ala Pívot<br />
        <hr />
        <h3>
            <p align="center">
                8 Temporadas</p>
        </h3>
        Salas – 2004/2012 – Cierre<br />
        Víctor – 2004/2012 – Pívot<br />
        <hr />
        <h3>
            <p align="center">
                7 Temporadas</p>
        </h3>
        Hugo – 2003/2010 – Cierre<br />
        <hr />
        <h3>
            <p align="center">
                6 Temporadas</p>
        </h3>
        Javi - 2005/2007 y 2008/2012 – Ala Cierre<br />
        Miguel – 2002/2008 – Portero<br />
        <hr />
        <h3>
            <p align="center">
                4 Temporadas</p>
        </h3>
        Vela – 2006/2007 y 2009/2012 – Ala Pívot<br />
        Sergio – 2008/2012 – Ala<br />
        Abel – 2002/2006 – Ala<br />
        Aspas – 2002/2006 – Portero<br />
        <hr />
        <h3>
            <p align="center">
                3 Temporadas</p>
        </h3>
        Adrian – 2007/2010 – Ala Pívot<br />
        Carlos – 2000/2003 – Ala Cierre<br />
        J.L.Martinez – 2000/2003 – Pívot<br />
        <hr />
        <h3>
            <p align="center">
                2 Temporadas</p>
        </h3>
        Pablo – 2000/2002 – Cierre<br />
        Diego – 2000/2002 – Cierre<br />
        Alberto – 2001/2003 – Portero<br />
        Ángel – 2002/2004 – Cierre<br />
        Isaac – 2002/2004 – Ala<br />
        David – 2004/2006 – Ala Cierre<br />
        Iker – 2007/2009 – Ala Cierre<br />
        Víctor Álvarez – 2010/2012 – Pivot<br />
        Allue – 2010/2012 – Ala Pivot<br />
        Saúl – 2008/2010 – Portero<br />
        Raúl – 2010/2012 – Portero/Jugador<br />
        <hr />
        <h3>
            <p align="center">
                1 Temporada</p>
        </h3>
        Quique – 2000/2001 – Portero<br />
        Tabuenka – 2001/2002 – Portero<br />
        Belsue – 2001/2002 – Portero<br />
        Juanjo – 2003/2004 – Ala<br />
        Sebas – 2004/2005 – Ala<br />
        Adrian II – 2010/2011 – Cierre<br />
        Javier – 2010/2011 - Cierre<br />
        Cesar – 2009/2010 – Portero<br />
        Daniel Gracia – 2011/2012 - Ala<br />
        Eduardo Del Val – 2011/2012- Ala<br />
        Alberto Elcoso – 2011/2012 – Portero<br />
    </p>
</div>
