@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="clubmenu" align="center">
    <h3>
        @Html.ActionLink("Estatutos", "Estatutos") | @Html.ActionLink("Ficha Técnica", "Index")
        | @Html.ActionLink("Jugadores", "Jugadores") | @Html.ActionLink("Organigrama", "Organigrama")
    </h3>
</div>
<div align="center">
    <h2>
        HISTÓRICO DE PLANTILLAS DEL CLUB</h2>
    <br />
    <p>
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2000/2001: CADENETA </u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Quique<br />
                    2 – Edu<br />
                    5 – Pablo<br />
                    7 – José<br />
                    8 – Diego<br />
                </td>
                <td width="50%">
                    9 – Carlos<br />
                    10 – Euge<br />
                    11- José Luis Martinez<br />
                    13 – Tabuenka<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Capitán: Pablo
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2001/2002: CADENETA-RIVER SALA</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Belsue<br />
                    2 – Edu<br />
                    5 – Pablo<br />
                    7 – José<br />
                    8 – Diego<br />
                </td>
                <td width="50%">
                    9 – Carlos<br />
                    10 – Euge<br />
                    11- José Luis Martinez<br />
                    13 – Alberto<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Capitán: Pablo
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2002/2003: CADENETA-RIVER SALA</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Alberto (*)<br />
                    4 – Dani<br />
                    7 – José<br />
                    9 – Carlos (*)<br />
                    11 – José Luis Martinez (*)<br />
                </td>
                <td width="50%">
                    2- Edu<br />
                    5 – Ángel<br />
                    8 – Abel<br />
                    10 – Euge<br />
                    13- Miguel<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    * A mitad de temporada se va Alberto, Carlos y José Luis Martinez, y fichan: 1-
                    Aspas y 9- Isaac
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Delegada: Esther Lázaro López<br />
                    Capitanes: José, Euge y Edu
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2003/2004: RIVER SALA</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Dani Aspas<br />
                    3 – Hugo<br />
                    5 – Ángel<br />
                    8 – Abel<br />
                    10 – Euge<br />
                    13 – Miguel<br />
                </td>
                <td width="50%">
                    2 – Edu<br />
                    4 – Dani<br />
                    7 – José<br />
                    9 – Isaac<br />
                    11 – Juanjo<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Delegada: Esther Lázaro López<br />
                    Capitán: Miguel
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2004/2005: AT. RIVER SALA ZARAGOZA C.D.E.</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Miguel<br />
                    3 – Hugo<br />
                    5 – Sebas<br />
                    7 – José<br />
                    9 – Víctor<br />
                    11 – David<br />
                </td>
                <td width="50%">
                    2 – Edu<br />
                    4 – Dani<br />
                    6 – Salas<br />
                    8 – Abel<br />
                    10 – Euge<br />
                    13 – Aspas<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Delegada: Esther Lázaro López<br />
                    Capitán: Edu
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2005/2006: AT. RIVER SALA ZARAGOZA C.D.E.</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Miguel<br />
                    3 – Hugo<br />
                    5 – Javi<br />
                    7 – José<br />
                    9 – Víctor<br />
                    11 – David<br />
                </td>
                <td width="50%">
                    2 – Edu<br />
                    4 – Dani<br />
                    6 – Salas<br />
                    8 – Abel<br />
                    10 – Euge<br />
                    13 – Aspas<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Delegada: Esther Lázaro López<br />
                    Capitán: Edu
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2006/2007: AT. RIVER SALA ZARAGOZA C.D.E.</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Miguel<br />
                    3 – Hugo<br />
                    5 – Javi<br />
                    7 – José<br />
                    9 – Víctor<br />
                </td>
                <td width="50%">
                    2 – Edu<br />
                    4 – Dani<br />
                    6 – Vela<br />
                    8 – Salas<br />
                    10 – Euge<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Delegada: Esther Lázaro López<br />
                    Capitán: Edu
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2007/2008: AT. RIVER SALA ZARAGOZA C.D.E.</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Miguel<br />
                    3 – Hugo<br />
                    6 – Adrian<br />
                    8 – Salas<br />
                    10 – Euge<br />
                </td>
                <td width="50%">
                    2 – Edu<br />
                    4 – Dani<br />
                    7 – José<br />
                    9 – Víctor<br />
                    11 – Iker<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Delegada: Esther Lázaro López<br />
                    Capitán: Edu
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2008/2009: AT. RIVER SALA ZARAGOZA C.D.E.</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Saúl<br />
                    3 – Hugo<br />
                    5 – Javi<br />
                    7 – José<br />
                    9 – Víctor<br />
                    11 – Iker<br />
                </td>
                <td width="50%">
                    2 – Edu<br />
                    4 – Dani<br />
                    6 – Adrian<br />
                    8 – Salas<br />
                    10 – Euge<br />
                    14 – Sergio<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Delegada: Esther Lázaro López<br />
                    Capitán: Edu
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2009/2010: AT. RIVER SALA ZARAGOZA C.D.E.</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Saúl<br />
                    3 – Hugo<br />
                    5 – Javi<br />
                    7 – José<br />
                    9 – Víctor<br />
                    11 – Sergio<br />
                    13 – Cesar<br />
                </td>
                <td width="50%">
                    2 – Edu<br />
                    4 – Dani<br />
                    6 – Adrian<br />
                    8 – Salas<br />
                    10 – Euge<br />
                    12 – Vela<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Delegada: Esther Lázaro López<br />
                    Capitán: Edu
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2010/2011: AT. RIVER SALA ZARAGOZA C.D.E.</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Raúl<br />
                    3 – Allue<br />
                    5 – Javi<br />
                    7 – Adrian II<br />
                    9 – Víctor<br />
                    11 - Sergio<br />
                    14 – Víctor Álvarez<br />
                </td>
                <td width="50%">
                    2 – Javier<br />
                    4 – Dani<br />
                    6 – Vela<br />
                    8 – Salas<br />
                    10 – Euge<br />
                    13 - Edu<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador: Ernesto Naval Rodríguez<br />
                    Delegada: Esther Lázaro López<br />
                    Capitán: Euge
                </td>
            </tr>
        </table>
        <br /><hr />
        <table width="99%">
            <tr>
                <td colspan="2">
                    <p align="center" style="font-size: medium;">
                        <b><u>Temporada 2011/2012: AT. RIVER SALA ZARAGOZA C.D.E.</u></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    1 – Alberto<br />
                    3 – Allue<br />
                    5 – Javi<br />
                    7 – Sergio<br />
                    9 – Víctor<br />
                    11 - Raúl<br />
                    14 – Víctor Álvarez<br />
                </td>
                <td width="50%">
                    2 – Daniel<br />
                    4 – Eduardo del Val<br />
                    6 – Vela<br />
                    8 – Salas<br />
                    10 – Euge<br />
                    13 - Dani<br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Entrenador/Delegado: Ernesto Naval Rodríguez<br />
                    Entrenador Adjunto: Daniel Giménez Fosch<br />
                    Capitán: Euge
                </td>
            </tr>
        </table>
        <br />
    </p>
</div>
