@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Administración</h2>
<br />
<div align="center">
    <h3>
        @Html.ActionLink("Administrar Usuarios", "Index", "AdminUsuario", null, null) |
        @Html.ActionLink("Administrar Noticias", "Administracion", "Noticia", null, null)
    </h3>
</div>
<br />
