@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
<h2>ENLACES DE INTERES PARA EL CLUB</h2>
<br><br>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="500" height="60">
	<tr>
		<td width="50%" height="1" align="center"><a target="_blank" href="http://www.elgolico.es"><img width="120" src="/Content/images/elgolico.jpg" border="0" alt="El Golico, Informacion sobre resultados y clasificaciones. Muy Actualizado." /></a></td>
		<td width="50%" height="1" align="center"><a target="_blank" href="http://www.futbolaragon.com"><img width="150" border="0" src="/Content/images/faf.jpg" alt="Pagina Oficial de la Federacion de Futbol (F.A.F.)" /></a></td>
	</tr>
	<tr>
		<td width="50%" height="1" align="center"><a target="_blank" href="http://www.elgolico.es">El Golico</a></td>
		<td width="50%" height="1" align="center"><a target="_blank" href="http://www.futbolaragon.com">Pagina Oficial de la Federacion de Futbol (F.A.F.)</a></td>
    </tr>
	<tr>
		<td width="50%" height="20" ></td>
		<td width="50%" height="20" ></td>
	</tr>
    <tr>
		<td width="50%" height="1" align="center"><a target="_blank" href="http://www.tramigest.es"><img width="120" src="/Content/images/tramigest.gif" border="0" alt="Web de nuestro patrocinador Tramigest" /></a></td>
		<td width="50%" height="1" align="center"><a target="_blank" href="http://www.deportelaboralaragon.org"><img width="125" src="/Content/images/laboral.jpg" border="0" alt="Pagina Oficial de la Federacion Aragonesa de Deporte Laboral" /></a></td>
	</tr>
	<tr>
		<td width="50%" height="1" align="center"><a target="_blank" href="http://www.tramigest.es">Tramigest</a></td>
		<td width="50%" height="1" align="center"><a target="_blank" href="http://www.deportelaboralaragon.org">Pagina Oficial de la Federacion Aragonesa de Deporte Laboral</a></td>
    </tr>
</table>
</div>